pipeline/WebActivity_Pagination.json
{
	"name": "WebActivity_Pagination",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://reqres.in/api/users?page=1",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1,activity('Web1').output.total_pages)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy FROM API to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['data'][0]['id']"
											},
											"sink": {
												"name": "id"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['email']"
											},
											"sink": {
												"name": "email"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['first_name']"
											},
											"sink": {
												"name": "first_name"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['last_name']"
											},
											"sink": {
												"name": "last_name"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['avatar']"
											},
											"sink": {
												"name": "avatar"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "DS_RestAPI",
									"type": "DatasetReference",
									"parameters": {
										"BaseURL": "https://reqres.in/api/users",
										"QueryParameters": {
											"value": "?page= @{item()}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "synapse",
										"FolderName": "staging",
										"FileName": {
											"value": "webactivity-{@item()}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-02-09T03:58:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}